services:

  mysqldb:
    image: mysql:8.0
    container_name: mysql
    ports:
      - 3306:3306
    volumes:
      - data_mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: payment_service_db
    healthcheck:
      test: ["CMD" , "mysqladmin" ,"ping", "-h","localhost" ,"-u","root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 20s
      retries: 4

  dbadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - 8082:80
    environment:
      PMA_HOST: db


  rabbitmq:
    image: rabbitmq:4.2.2-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - data_rabbitmq:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 10s
      retries: 5


volumes:
  data_mysql:
  data_rabbitmq:
